NODE_ENV=production
PORT=10004
DATABASE_URL=postgres://blog:blog@blog-db:5432/blog
PUBLIC_BASE_URL=http://blog.orgcatfun.site
PORTAL_BASE_URL=http://orgcatfun.site
SSO_CALLBACK_URL=http://blog.orgcatfun.site/auth/callback
OIDC_CLIENT_ID=blog
